<div class="container p-3 main-container">
    <div class="row">
        <div class="col-lg-9">
            <input class="form-control prompt-input" name="" id="" cols="30" rows="2" placeholder="Prompt your desired image" [(ngModel)]="prompt" [readonly]="waiting">
        </div>
        <div class="col-lg-3">
            <button class="grn-btn" (click)="onCreate()" [disabled]="waiting">Generate</button>
        </div>
        

    </div>
    
    <div class="row preview-row">
        <!-- <button class="btn btn-primary mb-2" (click)="onClear()" *ngIf="preview && !isLoading">Edit Prompt</button> -->

        <div class="preview-container mb-2" *ngIf="previewBox" [ngStyle]="{'padding-bottom': containerAspect ? containerAspect + '%' : null}">
            
            <div class="image-container" [class]="zoom">
                <ng-container [ngSwitch]="previewMode" *ngIf="!waiting">

                    <div class="quads desktop" *ngSwitchCase="'quad'">
                        <div class="image-cover">
                            <div class="buttons">
                                <a class="btn btn-primary mb-2" (click)="onInteract('variants-1')">
                                    <fa-icon [icon]="['fas', 'table-cells-large']"></fa-icon>
                                    Variants
                                </a>
                                <br>
                                <a class="btn btn-primary" (click)="onInteract('upscale-1')">
                                    <fa-icon [icon]="['fas', 'expand']"></fa-icon>
                                    Upscale
                                </a>
                            </div>
                        </div>
                        <div class="image-cover">
                            <div class="buttons">
                                <a class="btn btn-primary mb-2" (click)="onInteract('variants-2')">
                                    <fa-icon [icon]="['fas', 'table-cells-large']"></fa-icon>
                                    Variants
                                </a>
                                <br>
                                <a class="btn btn-primary" (click)="onInteract('upscale-2')">
                                    <fa-icon [icon]="['fas', 'expand']"></fa-icon>
                                    Upscale
                                </a>
                            </div>
                        </div>
                        <div class="image-cover">
                            <div class="buttons">
                                <a class="btn btn-primary mb-2" (click)="onInteract('variants-3')">
                                    <fa-icon [icon]="['fas', 'table-cells-large']"></fa-icon>
                                    Variants
                                </a>
                                <br>
                                <a class="btn btn-primary" (click)="onInteract('upscale-3')">
                                    <fa-icon [icon]="['fas', 'expand']"></fa-icon>
                                    Upscale
                                </a>
                            </div>
                        </div>
                        <div class="image-cover">
                            <div class="buttons">
                                <a class="btn btn-primary mb-2" (click)="onInteract('variants-4')">
                                    <fa-icon [icon]="['fas', 'table-cells-large']"></fa-icon>
                                    Variants
                                </a>
                                <br>
                                <a class="btn btn-primary" (click)="onInteract('upscale-4')">
                                    <fa-icon [icon]="['fas', 'expand']"></fa-icon>
                                    Upscale
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="quads mobile" *ngSwitchCase="'quad'">
                        <div class="image-cover" (click)="onZoom(1)">
                            <div class="buttons">
                                <div class="controls">
                                    <a class="btn btn-primary view" (click)="onUnZoom($event)">
                                        <fa-icon [icon]="['fas', 'times']"></fa-icon>
                                        Back
                                    </a>

                                    <a class="btn btn-outline-light view" (click)="onViewClick($event)">
                                        <fa-icon [icon]="['fas', 'eye']"></fa-icon>
                                    </a>
                                </div>
                                <a class="btn btn-primary mb-2" (click)="onInteract('variants-1')">
                                    <fa-icon [icon]="['fas', 'table-cells-large']"></fa-icon>
                                    Variants
                                </a>
                                <br>
                                <a class="btn btn-primary" (click)="onInteract('upscale-1')">
                                    <fa-icon [icon]="['fas', 'expand']"></fa-icon>
                                    Upscale
                                </a>
                            </div>
                        </div>
                        <div class="image-cover" (click)="onZoom(2)">
                            <div class="buttons">
                                <div class="controls">
                                    <a class="btn btn-primary view" (click)="onUnZoom($event)">
                                        <fa-icon [icon]="['fas', 'times']"></fa-icon>
                                        Back
                                    </a>

                                    <a class="btn btn-outline-light view" (click)="onViewClick($event)">
                                        <fa-icon [icon]="['fas', 'eye']"></fa-icon>
                                    </a>
                                </div>
                                <a class="btn btn-primary mb-2" (click)="onInteract('variants-2')">
                                    <fa-icon [icon]="['fas', 'table-cells-large']"></fa-icon>
                                    Variants
                                </a>
                                <br>
                                <a class="btn btn-primary" (click)="onInteract('upscale-2')">
                                    <fa-icon [icon]="['fas', 'expand']"></fa-icon>
                                    Upscale
                                </a>
                            </div>
                        </div>
                        <div class="image-cover" (click)="onZoom(3)">
                            <div class="buttons">
                                <div class="controls">
                                    <a class="btn btn-primary view" (click)="onUnZoom($event)">
                                        <fa-icon [icon]="['fas', 'times']"></fa-icon>
                                        Back
                                    </a>

                                    <a class="btn btn-outline-light view" (click)="onViewClick($event)">
                                        <fa-icon [icon]="['fas', 'eye']"></fa-icon>
                                    </a>
                                </div>
                                <a class="btn btn-primary mb-2" (click)="onInteract('variants-3')">
                                    <fa-icon [icon]="['fas', 'table-cells-large']"></fa-icon>
                                    Variants
                                </a>
                                <br>
                                <a class="btn btn-primary" (click)="onInteract('upscale-3')">
                                    <fa-icon [icon]="['fas', 'expand']"></fa-icon>
                                    Upscale
                                </a>
                            </div>
                        </div>
                        <div class="image-cover" (click)="onZoom(4)">
                            <div class="buttons">
                                <div class="controls">
                                    <a class="btn btn-primary view" (click)="onUnZoom($event)">
                                        <fa-icon [icon]="['fas', 'times']"></fa-icon>
                                        Back
                                    </a>

                                    <a class="btn btn-outline-light view" (click)="onViewClick($event)">
                                        <fa-icon [icon]="['fas', 'eye']"></fa-icon>
                                    </a>
                                </div>
                                <a class="btn btn-primary mb-2" (click)="onInteract('variants-4')">
                                    <fa-icon [icon]="['fas', 'table-cells-large']"></fa-icon>
                                    Variants
                                </a>
                                <br>
                                <a class="btn btn-primary" (click)="onInteract('upscale-4')">
                                    <fa-icon [icon]="['fas', 'expand']"></fa-icon>
                                    Upscale
                                </a>
                            </div>
                        </div>
                    </div>


                </ng-container>
    
                <img [src]="preview" *ngIf="preview">
            </div>

            <div class="waiting" *ngIf="!isLoading && waiting">
                <div class="spinning">
                    <fa-icon [icon]="['fas', 'spinner']" size="3x" animation="spin"></fa-icon>
                </div>
            </div>

            <div class="loading-bar" *ngIf="isLoading">
                <div class="bar" [style.width.%]="percent ? percent : 0"></div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="error">
        <div class="error" >
            <p >{{ error }}</p>
        </div>
    </div>

    <div class="row mt-5" *ngIf="preview">
        <button class="grn-btn mint-btn" style="height: 80px;" (click)="mint()">MINT</button>
    </div>

    <div class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
          <div class="toast-body">
          Hello, world! This is a toast message.
         </div>
          <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>

<div class="footer">
    <div class="brand">
        <img class="logo" src="../../../assets/trans_logo.svg" alt="logo"
        />
    </div>
</div>