<div>
    <!-- Twitter -->
    <a class="social mb-4" href="https://twitter.com/foreverai_nft" target="_blank">
        <img
            class="container-bg"
            src="../../../assets/socials/social-container.svg"
        />
        <img
            class="icon"
            src="../../../assets/socials/twitter.png"
            alt="twitter link"
        />
    </a>
    <!-- Discord STILL NEED-->
    <!-- <a class="social mb-4" href="" target="_blank">
        <img
            class="container-bg"
            src="../../../assets/socials/social-container.svg"
        />
        <img
            class="icon"
            src="../../../assets/socials/discord.png"
            alt="discord link"
        />
    </a> -->
    <!-- Telegram -->
    <a class="social mb-4" href="https://t.me/foreveraicommunity" target="_blank">
        <img
            class="container-bg"
            src="../../../assets/socials/social-container.svg"
        />
        <img
            class="icon"
            src="../../../assets/socials/telegram.png"
            alt="telegram link"
        />
    </a>
    <!-- Github STILL NEED-->
    <!-- <a class="social mb-4" href="" target="_blank">
        <img
            class="container-bg"
            src="../../../assets/socials/social-container.svg"
        />
        <img
            class="icon"
            src="../../../assets/socials/github.png"
            alt="github link"
        />
    </a> -->
    <!-- YouTube STILL NEED-->
    <!-- <a class="social mb-4" href="" target="_blank">
        <img
            class="container-bg"
            src="../../../assets/socials/social-container.svg"
        />
        <img
            class="icon"
            src="../../../assets/socials/youtube.png"
            alt="youtube link"
        />
    </a> -->
    <!-- Reddit STILL NEED-->
    <!-- <a class="social" href="" target="_blank">
        <img
            class="container-bg"
            src="../../../assets/socials/social-container.svg"
        />
        <img
            class="icon"
            src="../../../assets/socials/reddit.png"
            alt="reddit link"
        />
    </a> -->
</div>