:host {
    height: 100%;
    display: block;
    position: relative;
    overflow: hidden;

    .app-body {
        position: absolute;
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        overflow: auto;
        left: 0vw;
        transition: .3s ease-in-out;
        transition-property: transform, filter;

        &.open {
            // left: 70vw;
            transform: scale(1.005);
            filter: blur(2px);
        }

        
    }

    
    .toast-container {
        position: fixed;
        bottom: 15px;
        left: 15px;
        width: 100%;
        font-family: 'Rubik';
        
        .toast {
            // position: absolute;
            // background-color: var(--background-primary);
            // color: var(--text-color);

            .toast-header {
                background-color: rgb(249, 76, 76);
                color: #00c168;
            }
    
            .toast-body {
                * a {
                    color: #1e1d18;
                }
    
            }
        }
    }
}