<div class="container-fluid">
    <section class="section-one" id="section-one">
        
        <!-- <img class="bg-img" [src]="BGImgPath" /> -->

        <div class="content-container">
            <h3 class="header">Unleash the Power of AI and Create Collectible Digital Assets.</h3>

            <p>
                Be one of the first to generate NFTs with AI technology and take advantage of the ever-growing NFT market.
            </p>

            <div class="launch-btn" routerLink="mint">
                <img src="../../../assets/grn-btn.svg">
                <span>Launch DApp</span>
            </div>
        </div>

        <!-- <app-nav-bar></app-nav-bar> -->
        <!-- Scroll Icon -->
        <img class="scroll-icon" src="../../../assets/scroll-img.svg" alt="scroll down icon">
    </section>

    <section class="section-two">
        <div class="content-container">
            <img class="char-img" src="../../../assets/characters/g2.png">

            <div class="text-container">
                <!-- <img class="text-bg" src="../../../assets/text-box-bg-big.svg"> -->
                <div class="text">
                    <h4>Be a Part of History</h4>
                    <p>
                        Forever AI is the first NFT collection where the community is the artist(s). We will be unleashing the power of AI to generate historic NFT's that that will be imprinted on the Ethereum blockchain forever.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="section-three">
        <div class="content-container">
            <img class="char-img" src="../../../assets/characters/g3.png">

            <div class="text-container">
                <!-- <img class="text-bg" src="../../../assets/text-box-bg-big.svg"> -->
                <div class="text">
                    <h4>Become a Creative Visionary</h4>
                    <p>
                        Forever AI will produce the next generation of artists that can creatively communicate with artificial intelligence. Unleash the power of AI to generate these stunning pieces of art.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="section-four">
        <h4 class="section-title">Tokenomics</h4>

        <div class="content-container">
            <div class="chart">
                <img src="../../../assets/tokenomics-chart.svg" alt="tokenomics chart">
            </div>

            <div class="stats">
                <img src="../../../assets/tokenomics-stats.svg" alt="tokenomics stats">
            </div>
        </div>
    </section>

    <section class="section-five">
        <h4 class="section-title">$FAI TOKEN.</h4>

        <div class="content-container">
            <div class="logo">
                <img src="../../../assets/logo-border.svg" alt="logo">
                <img src="../../../assets/bigger-logo.svg" alt="logo">
            </div>

            <div class="text">
                <p>
                    The Forever AI (FAI) token plays a crucial role on the Forever AI platform, serving as the currency used to mint NFTs. In order to mint an NFT on the Forever AI platform, users must have a sufficient amount of FAI in their wallets. Users will also need some ETH in their wallet to cover gas fees.
                </p>

                <div class="contract-btn">
                    <img src="../../../assets/grn-btn.svg">
                    <span>Contract Address TBA</span>
                </div>
            </div>


            <div class="cta-banner">
                <img class="banner" src="../../../assets/bg.png">
                <h5>Join our telegram community and stay in the know.</h5>

                <a class="contract-btn" href="https://t.me/foreveraicommunity" target="_blank" alt="telegram link">
                    <img src="../../../assets/grn-btn.svg">
                    <span>Join Community</span>
                </a>
            </div>
        </div>
    </section>

    <section class="footer">
        <div class="brand">
            <img class="logo" src="../../../assets/trans_logo.svg" alt="logo"
            />
        </div>

        <div class="socials-bar">
            <!-- Twitter -->
            <a class="social mb-4" href="https://twitter.com/foreverai_nft" target="_blank">
                <img
                    class="container-bg"
                    src="../../../assets/socials/social-container.svg"
                />
                <img
                    class="icon"
                    src="../../../assets/socials/twitter.png"
                    alt="twitter link"
                />
            </a>
            <!-- Discord STILL NEED-->
            <!-- <a class="social mb-4" href="" target="_blank">
                <img
                    class="container-bg"
                    src="../../../assets/socials/social-container.svg"
                />
                <img
                    class="icon"
                    src="../../../assets/socials/discord.png"
                    alt="discord link"
                />
            </a> -->
            <!-- Telegram -->
            <a class="social mb-4" href="https://t.me/foreveraicommunity" target="_blank">
                <img
                    class="container-bg"
                    src="../../../assets/socials/social-container.svg"
                />
                <img
                    class="icon"
                    src="../../../assets/socials/telegram.png"
                    alt="telegram link"
                />
            </a>
            <!-- Github STILL NEED-->
            <!-- <a class="social mb-4" href="" target="_blank">
                <img
                    class="container-bg"
                    src="../../../assets/socials/social-container.svg"
                />
                <img
                    class="icon"
                    src="../../../assets/socials/github.png"
                    alt="github link"
                />
            </a> -->
            <!-- YouTube STILL NEED-->
            <!-- <a class="social mb-4" href="" target="_blank">
                <img
                    class="container-bg"
                    src="../../../assets/socials/social-container.svg"
                />
                <img
                    class="icon"
                    src="../../../assets/socials/youtube.png"
                    alt="youtube link"
                />
            </a> -->
            <!-- Reddit STILL NEED-->
            <!-- <a class="social" href="" target="_blank">
                <img
                    class="container-bg"
                    src="../../../assets/socials/social-container.svg"
                />
                <img
                    class="icon"
                    src="../../../assets/socials/reddit.png"
                    alt="reddit link"
                />
            </a> -->
        </div>
    </section>
</div>
